<h1>Addition</h1>

<%= form_tag calculators_subtraction_path do %>

<p><%= label_tag 'Enter value' %>
<%= text_field_tag 'a' %> </p>
<p>
<%= label_tag 'Enter Value' %>
<%= text_field_tag 'b' %></p>

<%= submit_tag "Division" %>

<% end %>

Output: <%= @div %>
