
<%= form_for @employee, url: {action: "create"} do |f| %>
<p>
Name: <%= f.text_field :name %></p>
<p>Age: <%= f.number_field :age %> </p>
<p>Salary: <%= f.number_field :salary %></p>
<p>Status: <%= f.text_field :status %></p>

<p> <%= f.submit %></p>
<% end %>