<h1>This is show page</h1>

<p>Name :<%= @employee.name %></p>
<p>Age : <%= @employee.age %></p>
<p>Salary : <%= @employee.salary %></p>
<p>Status : <%= @employee.status %></p>

<p><%= link_to "index", employees_index_path %></p>