<!DOCTYPE html>
<html>
  <head>
    <title>College</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<p><%= link_to "Home", "/" %><%= link_to "Index", employees_index_path %></p>


    <%= yield %>
  </body>
</html>
